.main {
  height: 100vh;
  display: block;
  text-align: center;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease;
}

.color-input {
  padding-top: 40vh;
}

.color-input-field {
  min-width: 180px;
  width: 30%;
  height: 50px;
  padding: 3%;
  font-size: larger;
  background-color: rgb(255, 255, 255);
  border: none;
  box-sizing: border-box;
}

.color-output-field {
  min-width: 180px;
  width: 30%;
  height: 50px;
  padding: 3%;
  font-size: larger;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.655);
  border: none;
  box-sizing: border-box;
}